@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;

  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: #FFFFFF;
  --pageText: #000000;

  --faded: #e2e2e2;

  --pageBG-hsl: 0, 0%, 100%;
  --pageText-hsl: 0, 0%, 0%;

  --app-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pageBG: #000000;
    --pageText: #fff6e2;

    --faded: #fff6e297;

    --pageBG-hsl: 0, 0%, 0%;
    --pageText-hsl: 60, 14%, 95%;
  }
}

body {
  color: var(--pageText);
  background: var(--pageBG);
}
